<nav class="top-menu" aria-label="Главное меню">
  <ul>
    <li><a href="/">Главная</a></li>
    <li class="topnav__dropdown turn-off">
      <a href="#">Обслуживание</a>
      <ul class="topnav__dropdown-menu">
        <li><a href="#">Модернизация</a></li>
        <li><a href="#">Ремонт</a></li>
        <li><a href="#">Чистка</a></li>
      </ul>
    </li>
    <li class="turn-on"><a href="#">Ремонт</a></li>
    <li class="turn-on"><a href="#">Чистка</a></li>
    <li class="turn-on"><a href="#">Модернизация</a></li>
    <li><a href="#">Контакты</a></li>
    <li><a href="/account">Аккаунт</a></li>
  </ul>
</nav>
<button class="menu-toggle" data-top-nav-button aria-label="Открыть меню">
  &#9776;
</button>
