section.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Заголовок секции */
section.benefits h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  section.benefits h2 {
    font-size: 1.5rem;
  }
}

section.benefits .benefit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-height: 200px;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 563px) {
  section.benefits .benefit-grid {
    max-height: 400px;
  }
}

section.benefits .benefit-card {
  height: 150px;
  background-color: var(--card-background-color);
  border: 2px solid var(--card-border-color);
  border-radius: 12px;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: var(--card-shadow);
  transition: transform 0.5s ease;
  overflow: hidden;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}
section.benefits .benefit-card:hover {
  transform: translateY(-5px);
}
